<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <link rel="stylesheet" href="./assets/style.css" />
    <!-- Import Vue.js CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>

      <div class="cart">Cart({{cart}})</div>
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <!-- Sử dụng v-bind để bind qua main.js -->

            <!-- Viết tắt cho v-bind là dấu :<...> trước--VD: :src = v-bind:src -->
            <img v-bind:src="image">
          </div>
          <div class="product-info">
            <h1>{{title}}</h1>

            <!-- If else bằng Vue -->
            <p v-if="inventory >10"> In Stock</p>
            <p v-else-if="inventory >0 && inventory <=10"> Almost sold out!</p>
            <p v-else> Out of Stock</p>
            <!-- Vòng lập for bằng Vue -->
            <ul>
                <li v-for="detail in details">{{detail}}</li>
            </ul>
            <div class="color-circle" :style="{backgroundColor: variant.color}" v-for="(variant, index) in variants" :key="variant.id" @mouseover="updateVariant(index)"></div>

            <!-- Lắng nghe event click bằng v-on:click viết tắt là @click-->

            <!-- :class="{disabledButton: inventory<=0}" nếu điều kiện bằng true thì sẽ hiện class name -->
            <button v-on:click="addToCart" class="button" :class="{disabledButton: inventory<=0}" :disabled="inventory<=0">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </body>

  <!-- Import App -->
  <script src="./main.js"></script>
  <!-- Mount App -->
  <script>
    // Với app.mount là tên biến đã tạo ở main.js vào #app là id của element trong html
    const mountedApp = app.mount("#app");
  </script>
</html>
